section #logo {
	background-color: #333;
	background-repeat: no-repeat;
	background-size: 70px 70px;
	float: right;
	height: 70px;
	width: 70px;
}
.sfp-logo {
	background-image: app-asset-url("sfp-logo.png");
}

.rr3-logo {
	background-image: app-asset-url("rr3-logo.png");
}

section ul, li{
	line-height: 25px;
	margin-left: 0px;
}

section ul>:first-child {
	padding-bottom: 10px;
}

section input {
	height: 6px;
	width: 20px;
}

#header {
	border-bottom: 1px dotted #ccc;
	height: 80px;
	margin-bottom: 10px;
}

#searchText {
	height: 10px;
	width: 250px;
}

#submit {
	height: 25px;
	width: 50px;
}