section #logo {
	float: right;
	height: 70px;
	width: 70px;
}

section ul, li{
	line-height: 25px;
	margin-left: 0px;
}

#header ul>:first-child {
	padding-bottom: 10px;
}

section input {
	height: 6px;
	width: 20px;
}

#header {
	border-bottom: 1px dotted #ccc;
	height: 80px;
	margin-bottom: 10px;
}

#searchText, #resultText, #resultText2 {
	height: 10px;
	width: 250px;
}

#submit, #clear {
	height: 25px;
	width: 50px;
}

.reimbursement_list {
	width: 250px;
}
.float_right {
	float: right;
}
